@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anybody:ital,wght@0,200;0,300;1,200;1,300&family=Kanit:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Anybody", cursive;
}

body {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  min-height: 100vh;

  /*background-color: white;*/
  /*color: black;*/
}
.dark-mode h1 {
  background-color: black;
  color: white;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode article {
  background-color: black;
  color: white;
  border-color: white;
}

.dark-mode footer {
  background-color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr 5rem;
}

header h1 {
  height: 40px;
  align-self: center;
  justify-self: center;
  background-color: white;
  opacity: 0.8;
  margin-left: 5rem; /* Movemos hacia la izquierda para centrarlo completamente*/

}

header button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
#backgroundVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -100;
}
#mainButton {
  position: absolute;
  top: 50%;
  font-size: 20px;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  background-color: beige;
  border-width: 2px, solid;
}


#currentStatus {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

main {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: white;
}

nav {
  display: block;
  height: 100%;
}

menu a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

menu {
  display: flex;
  list-style: none;
  height: 100%;
}

li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

li > a {
  text-decoration: none;
}

menu a:hover {
  background-color: rgb(197, 197, 197);
}

footer img {
  height: 100%;
  border-radius: 50%;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul {
  padding: 5rem;
  width: 100%;
  max-width: 1600px;
  max-height: 800px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  list-style: none;
  gap: 2rem;
}

article {
  border: 2px solid black;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  display: grid;
  background-color: rgba(211, 211, 211, 0.2);
  width: 20rem;
  height: 32rem;
  justify-self: space-around;

  grid-template-columns: 100%;
  grid-template-rows: 1fr 50% 1fr 1fr 1fr;
  border-radius: 2rem;

  justify-content: space-evenly;
}

article *:not(img, section) {
  margin: 1.2rem 1rem;
}

article section:last-child {
  margin-bottom: 1rem;
}

/* Ajustamos la hora al centro y le damos un estilo distinto*/
article h3:nth-of-type(1) {
  letter-spacing: 3px;
  margin: 2rem 0 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
}

article span:nth-of-type(odd) {
  text-align: left;
}

article span:nth-of-type(even) {
  text-align: right;
}

/* Description e icono*/
article section {
  display: flex;
  flex-direction: column;
}

/* Icono de la tarjeta*/
section img {
  height: 80%;
  object-fit: cover;
}

/* Description*/
section h2 {
  text-align: center;
}

.sectionSpan {
  display: inline-block;
}

.informationText,
.informationNumber {
  font-weight: bold;
  font-size: 1.3rem;
}

.informationText {
  float: left;
}

.informationNumber {
  float: right;
}

@keyframes animationImagesFooter {
  0% {
    margin-bottom: 0rem;
  }

  25% {
    margin-bottom: 3rem;
  }

  50% {
    margin-bottom: 2rem;
  }

  75% {
    margin-bottom: 3rem;
  }

  100% {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px)
{
  body {
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
  }

  h1 {
    font-size: 1.2rem;
    justify-items: center;
  }

  main {
    display: grid;
    grid-template-rows: 5rem 1fr;
    height: 100%;
  }

  #currentStatus {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }


  article {
  border: 2px solid black;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  display: grid;
  background-color: rgba(211, 211, 211, 0.2);
  width: 15rem;
  height: 20rem;
  justify-self: space-around;

  grid-template-columns: 100%;
  grid-template-rows: 1fr 40% 1fr 1fr 1fr;
  border-radius: 2rem;

  justify-content: space-evenly;
}

article *:not(img, section) {
  margin: 5%;
}

article > section:last-child {
  margin-bottom: 5%;
}

/* Ajustamos la hora al centro y le damos un estilo distinto*/
article h3:nth-of-type(1) {
  margin: 0;
  padding: 1rem;
  letter-spacing: 3px;
  /* margin: 2rem 0 1rem 0.5rem; */
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
}


/* Icono de la tarjeta*/
article > section img {
  height: 100%;
  object-fit: cover;
  padding-bottom: 1.6rem;
  margin-bottom: 2rem;
}

article > section h2 {
  margin-top: 3rem;
}

menu a:hover {
  background-color: inherit;
}

.informationText,
.informationNumber {
  font-size: 1rem;
}

  footer img {
    height: 2rem;
  }

}