@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anybody:ital,wght@0,200;0,300;1,200;1,300&family=Kanit:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Anybody", cursive;
}

body {
  display: grid;
  grid-template-rows: 3rem 1fr auto;
  min-height: 100vh;

  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode article {
  background-color: black;
  color: white;
}

.dark-mode footer {
  background-color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr 5rem;
}

header h1 {
  align-self: center;
  justify-self: center;
  margin-left: 5%;
}

header button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
#backgroundAnimation {
  width: 100%;
}
#mainButton {
  position: absolute;
  top: 50%;
  font-size: 20px;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  background-color: beige;
  border-width: 2px, solid;
}
#currentStatus {
  position: absolute;
  top: 6%;
  left: 44%;
  font-weight: bold;
}

main {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer {
  height: 45px;
  background-color: white;
}

nav {
  display: block;
  height: 100%;
}

menu a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

menu {
  display: flex;
  list-style: none;
  height: 100%;
}

li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

li > a {
  text-decoration: none;
}

menu a:hover {
  background-color: rgb(34, 115, 196);
}
footer img {
  height: 100%;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul {
  padding: 5rem;
  width: 100%;
  max-width: 1600px;
  max-height: 800px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  list-style: none;
  gap: 2rem;
}

article {
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  background-color: rgb(211, 211, 211);
  width: 20rem;
  height: 35rem;
  justify-self: space-around;

  grid-template-columns: 100%;
  grid-template-rows: 1fr 50% 1fr 1fr 1fr;
  border-radius: 2rem;

  justify-content: space-evenly;
}

article *:not(img, section) {
  margin: 1.2rem 1rem;
}

article section:last-child {
  margin-bottom: 1rem;
}

/* Ajustamos la hora al centro y le damos un estilo distinto*/
article h3:nth-of-type(1) {
  letter-spacing: 3px;
  margin: 2rem 0 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
}

article span:nth-of-type(odd) {
  text-align: left;
}

article span:nth-of-type(even) {
  text-align: right;
}

/* Description e icono*/
article section {
  display: flex;
  flex-direction: column;
}

/* Icono de la tarjeta*/
section img {
  height: 80%;
  object-fit: cover;
}

/* Description*/
section h2 {
  text-align: center;
}

.sectionSpan {
  display: inline-block;
}

.informationText, .informationNumber{
  font-weight: bold;
  font-size: 1.3rem;
}

.informationText {
  float: left;
}

.informationNumber {
  float: right;
}
